body{
	font-family: "微软雅黑";
	font-size: 12px;
}

.contentHolder{
	text-align: center;
}

#title{
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
}

#map{
	height:1000px;
}

.timeDigitSmall{
	font-size: 8px;
	-webkit-text-size-adjust:none;
}